@import url("font-awesome/css/fontawesome-all.min.css");
@font-face {
  font-family: "VisbyCF";
  src: url("../fonts/VisbyCF-Bold.otf") format("opentype"), url("../fonts/VisbyCF-Bold-az.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "VisbyCF";
  src: url("../fonts/VisbyCF-Heavy.otf") format("opentype"), url("../fonts/VisbyCF-Heavy-az.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "VisbyCF";
  src: url("../fonts/VisbyCF-Medium.otf") format("opentype"), url("../fonts/VisbyCF-Medium-az.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "VisbyCF";
  src: url("../fonts/VisbyCF-DemiBold-az.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "VisbyCF";
  src: url("../../fonts/VisbyCF-ExtraBold-az.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

* {
  font-family: "VisbyCF";
}

* a {
  color: #303030;
}

* a:hover {
  color: #303030;
  text-decoration: none;
}

ul {
  list-style-type: none;
  display: inline;
  padding: 0;
}

hr {
  border-color: #00000005;
  height: 1px;
  margin: 0px 20px;
}

button {
  cursor: pointer;
}

button:focus {
  outline: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .head-left .logo {
  padding: 19px 41px;
}

.header .head-left .logo .CA-Copy {
  width: 133.6px;
  height: 32.2px;
}

.header .head-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: auto;
}

.header .head-right .search {
  padding: 0 3px;
}

.header .head-right .search .magnify {
  width: 18px;
  height: 18px;
}

.header .head-right .notification {
  padding: 0 27px;
  position: relative;
}

.header .head-right .notification::after {
  content: "";
  position: absolute;
  top: -8px;
  right: 0;
  width: 2px;
  height: 40px;
  background-color: #97979714;
}

.header .head-right .notification .bell-outline {
  width: 17px;
  height: 20px;
}

.header .head-right .user-photo {
  padding-right: 39px;
  padding-left: 27px;
}

.header .head-right .user-photo .user-pp {
  width: 36px;
  height: 36px;
  border-radius: 100%;
}

#noti {
  display: none;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

#noti .noti-area {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 5;
}

#noti .noti-box {
  width: 350px;
  border-radius: 5px;
  position: absolute;
  top: 70px;
  right: 118px;
  z-index: 10;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
  padding: 10px;
  height: 288px;
  overflow: hidden;
}

#noti .noti-box::-webkit-scrollbar {
  width: 0 !important;
}

#noti .noti-box .list .list-item {
  border-bottom: 2px solid #f2f2f2;
  width: 326px;
  font-size: 14px;
  padding: 0 5px;
  line-height: 43px;
}

#noti .noti-box .list .list-item:last-child {
  border: none;
}

#noti .noti-box .list .list-item.unread {
  font-weight: 900;
  position: relative;
}

#noti .noti-box .list .list-item.unread::after {
  content: "";
  border-radius: 100%;
  width: 6px;
  height: 6px;
  background-color: #00a2ff;
  position: absolute;
  right: 17px;
  top: 17px;
}

#noti .noti-box .list .list-item.read {
  font-weight: 500;
}

#noti .noti-box .list .list-item p {
  width: 292px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

#noti .noti-btn {
  width: 100%;
  font-size: 14px;
  font-weight: 900;
  color: #00a2ff;
  border: none;
  background-color: #fff;
  line-height: 43px;
  position: absolute;
  left: 0;
  bottom: 5px;
}

#other-label {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

#other-label .popup-area {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: #00000031;
}

#other-label .popup {
  top: 38%;
  left: 38%;
  position: absolute;
  width: 350px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
  z-index: 10;
  overflow: hidden;
}

#other-label .popup .close {
  position: absolute;
  right: 5px;
  top: 5px;
  color: #f7f8fe30;
  font-size: 17px;
  cursor: pointer;
}

#other-label .popup .popup-header {
  background-color: #00a2ff;
  line-height: 60px;
  font-size: 20px;
  padding-left: 20px;
  font-weight: bold;
  color: #ffffff;
}

#other-label .popup .popup-body .form-item {
  padding: 0 20px;
}

#other-label .popup .popup-body .form-item textarea {
  width: 310px;
  height: 50px;
  border-radius: 5px;
  border: solid 0.5px #979797;
}

#other-label .popup .popup-body .form-item .form-btn {
  margin: 20px 3px;
}

#other-label .popup .popup-body .form-item .form-btn.remember {
  background-color: #00a2ff;
  border: 1px solid #00a2ff;
  color: #fff;
  border-radius: 5px;
  padding: 8px 14px 5px 13px;
}

#other-label .popup .popup-body .form-item .form-btn.cansel {
  border: 1px solid #a0a0a0;
  color: #a0a0a0;
  background-color: #fff;
  border-radius: 5px;
  padding: 8px 14px 5px 13px;
}

main .weekly-pagination {
  position: relative;
  background-color: #00a2ff;
  height: 70px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
}

main .weekly-pagination .page-item {
  color: #ffffff70;
  padding: 22px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

main .weekly-pagination .page-item:hover {
  color: #fff;
}

main .weekly-pagination .page-item i {
  width: 14px;
  height: 9.3px;
}

main .weekly-pagination .this-week {
  font-size: 24px;
  font-weight: 900;
  color: #fff;
  margin-bottom: 0;
}

main .weekly-pagination .btn-this-week {
  position: absolute;
  top: 20px;
  right: 40px;
  width: 100px;
  height: 30px;
  border: 1.5px solid #fff;
  border-radius: 5px;
  background-color: #00a2ff;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

main .weekly-pagination .btn-this-week:hover {
  background-color: #29b1ff;
}

.sides .groups {
  position: relative;
  width: 320px;
}

.sides .groups .btn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sides .groups .btn-list .group-btn {
  width: 160px;
  height: 35px;
  border: none;
  border-bottom: 0.5px solid #f2f2f2;
  background-color: #fff;
  color: #b2b2b2;
  font-size: 12px;
  font-weight: 500;
}

.sides .groups .btn-list .active {
  border-bottom: 2.5px solid #00a2ff;
  font-size: 12px;
  font-weight: 900;
  color: #303030;
}

.sides .groups .groups-list {
  display: none;
}

.sides .groups .groups-list.active-list {
  display: block;
}

.sides .groups .groups-list .groups-item {
  margin-top: 20px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  overflow: hidden;
  position: relative;
  margin-left: 20px;
  width: 280px;
  height: 90px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.08);
}

.sides .groups .groups-list .groups-item .group {
  border-bottom: 1px solid #f2f2f2;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sides .groups .groups-list .groups-item .group h4 {
  font-weight: 900;
  color: #303030;
}

.sides .groups .groups-list .groups-item .group .start-btn {
  font-weight: 600;
  width: 108px;
  height: 28px;
  font-size: 12px;
  color: #fff;
  background-color: #00a2ff;
  border: none;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.sides .groups .groups-list .groups-item .group .start-btn i {
  font-size: 11px;
}

.sides .groups .groups-list .groups-item .group .start-btn:hover {
  background-color: #29b1ff;
}

.sides .groups .groups-list .groups-item .group .start-btn.open {
  border: 1px solid #eb3f3f;
  color: #eb3f3f;
  background: #fff;
  padding: 0 13px;
}

.sides .groups .groups-list .groups-item .group-info {
  display: none;
  color: #303030;
}

.sides .groups .groups-list .groups-item .group-info h5 {
  font-weight: 900;
}

.sides .groups .groups-list .groups-item .group-info .info-list .info-item {
  padding: 10px 0 0 20px;
  width: 100%;
}

.sides .groups .groups-list .groups-item .group-info .info-list .info-item p {
  color: #808080;
  font-weight: 500;
  line-height: 13px;
  font-size: 12px;
}

.sides .groups .groups-list .groups-item .group-info .info-list .info-item p span {
  font-weight: 900;
  line-height: 15px;
}

.sides .groups .groups-list .groups-item .info-btn {
  position: absolute;
  border: none;
  width: 280px;
  height: 19px;
  background-color: #fff;
  color: #cacaca;
  line-height: 19px;
  bottom: 0;
}

.sides .attendance {
  width: 100%;
  padding: 20px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  bottom: 0;
  border-top: solid 1px #f2f2f2;
  font-weight: 500;
}

#closed-groups-list .groups-item,
#closed-groups-list .info-btn {
  background-color: #f9f9f9;
}

.sides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sides .table-side {
  background-color: #f2f2f2;
  width: 100%;
}

.sides .table-side .timetable {
  margin: 20px;
  height: 100vh;
  overflow-y: auto;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.06);
          box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
}

.sides .table-side .timetable::-webkit-scrollbar {
  width: 0 !important;
}

.Teacher__GroupsWrapper__3ToYy .ParticipationTable__ParticipationTable__NzBVH table tr {
  text-align: center;
  background-color: #e0e0e0;
}

.Teacher__GroupsWrapper__3ToYy .ParticipationTable__ParticipationTable__NzBVH table tr th {
  font-weight: 800;
  font-size: 20px;
}

.Teacher__GroupsWrapper__3ToYy .ParticipationTable__ParticipationTable__NzBVH table tr td {
  font-size: 16px;
  font-weight: 600;
}

.Teacher__GroupsWrapper__3ToYy .ParticipationTable__ParticipationTable__NzBVH table tr td,
.Teacher__GroupsWrapper__3ToYy .ParticipationTable__ParticipationTable__NzBVH table tr th {
  color: #505050;
  padding: 10px;
  border-left: 2px solid #f2f2f2;
  border-bottom: 2px solid #f2f2f2;
  width: 202px;
}

.Teacher__GroupsWrapper__3ToYy .ParticipationTable__ParticipationTable__NzBVH table tr td:first-child,
.Teacher__GroupsWrapper__3ToYy .ParticipationTable__ParticipationTable__NzBVH table tr th:first-child {
  width: 270px;
  background-color: #fff;
  text-align: left;
}

.Teacher__GroupsWrapper__3ToYy .ParticipationTable__ParticipationTable__NzBVH table tr td.ParticipationTable__Current__1bTw4,
.Teacher__GroupsWrapper__3ToYy .ParticipationTable__ParticipationTable__NzBVH table tr th.ParticipationTable__Current__1bTw4 {
  background-color: #fff;
}

.Teacher__GroupsWrapper__3ToYy .ParticipationTable__ParticipationTable__NzBVH table tr td .ParticipationOptions__reason-dropdown__1cjUh,
.Teacher__GroupsWrapper__3ToYy .ParticipationTable__ParticipationTable__NzBVH table tr th .ParticipationOptions__reason-dropdown__1cjUh {
  width: 88px;
  border-radius: 5px;
  margin-left: auto;
  -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.Teacher__GroupsWrapper__3ToYy .ParticipationTable__ParticipationTable__NzBVH table tr td .ParticipationOptions__reason-dropdown__1cjUh .ParticipationOptions__reasons__1sOF_ .ParticipationOptions__reason__1PQFi,
.Teacher__GroupsWrapper__3ToYy .ParticipationTable__ParticipationTable__NzBVH table tr th .ParticipationOptions__reason-dropdown__1cjUh .ParticipationOptions__reasons__1sOF_ .ParticipationOptions__reason__1PQFi {
  cursor: pointer;
  font-size: 12px;
  font-weight: 800;
}

.Teacher__GroupsWrapper__3ToYy .ParticipationTable__ParticipationTable__NzBVH table tr td .ParticipationOptions__reason-dropdown__1cjUh .ParticipationOptions__reasons__1sOF_ .ParticipationOptions__reason__1PQFi:first-child,
.Teacher__GroupsWrapper__3ToYy .ParticipationTable__ParticipationTable__NzBVH table tr th .ParticipationOptions__reason-dropdown__1cjUh .ParticipationOptions__reasons__1sOF_ .ParticipationOptions__reason__1PQFi:first-child {
  width: 70px;
  margin: auto;
  border-bottom: solid 2px #f2f2f2;
  cursor: default;
}

.Teacher__GroupsWrapper__3ToYy .ParticipationTable__ParticipationTable__NzBVH table tr td .ParticipationOptions__reason-dropdown__1cjUh .ParticipationOptions__reasons__1sOF_ .ParticipationOptions__reason__1PQFi .fa-tag,
.Teacher__GroupsWrapper__3ToYy .ParticipationTable__ParticipationTable__NzBVH table tr th .ParticipationOptions__reason-dropdown__1cjUh .ParticipationOptions__reasons__1sOF_ .ParticipationOptions__reason__1PQFi .fa-tag {
  margin-left: 6px !important;
}

.AttendenceCell[disabled].Present {
  background-color: #e0e0e0;
  color: #a0a0a0;
}

.Present {
  background-color: #fff;
  color: #00d743 !important;
}

.Present span {
  font-weight: 800;
}

.Absent {
  background-color: #fff3f3 !important;
  color: #eb3f3f !important;
}

.Absent span {
  font-weight: 800;
}
/*# sourceMappingURL=style.css.map */