
@import url("font-awesome/css/fontawesome-all.min.css");
@font-face {
  font-family: "VisbyCF";
  src: url("../fonts/VisbyCF-Bold.otf") format("opentype"),
    url("../fonts/VisbyCF-Bold-az.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
  font-family: "VisbyCF";
  src: url("../fonts/VisbyCF-Heavy.otf") format("opentype"),
    url("../fonts/VisbyCF-Heavy-az.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}
@font-face {
  font-family: "VisbyCF";
  src: url("../fonts/VisbyCF-Medium.otf") format("opentype"),
    url("../fonts/VisbyCF-Medium-az.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
  font-family: "VisbyCF";
  src: url("../fonts/VisbyCF-DemiBold-az.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
  font-family: "VisbyCF";
  src: url("../../fonts/VisbyCF-ExtraBold-az.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

* {
  font-family: "VisbyCF";
  a {
    color: $text_color;
    &:hover {
      color: $text_color;
      text-decoration: none;
    }
  }
}
ul{
  list-style-type: none;
display: inline;
padding: 0;
}
hr{
  border-color: #00000005;
  height: 1px;
  margin: 0px 20px;
}
button{
  cursor: pointer;
  &:focus{
    outline: none;
  }
}
