div[class^="col-"] {
  padding: 0;
}

@font-face {
  font-family: "Visby CF Heavy";
  src: url("8af4648faad736e5dafed2c6c9775bb3.eot"), /* IE9*/ url("8af4648faad736e5dafed2c6c9775bb3.woff") format("woff"),
    /* chrome、firefox */ url("8af4648faad736e5dafed2c6c9775bb3.ttf") format("truetype"); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

* {
  font-family: "Visby CF Heavy";
  a {
    color: $text_color;
    &:hover {
      color: $text_color;
    }
  }
}
