
@import url("font-awesome/css/fontawesome-all.min.css");
@import url(//db.onlinewebfonts.com/c/cfdc7772d1426068d6cc35816bdb06f8?family=Visby+CF+Bold);
@font-face {
  font-family: "Visby CF Bold";
  src: url("//db.onlinewebfonts.com/t/cfdc7772d1426068d6cc35816bdb06f8.eot");
  src: url("//db.onlinewebfonts.com/t/cfdc7772d1426068d6cc35816bdb06f8.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/cfdc7772d1426068d6cc35816bdb06f8.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/cfdc7772d1426068d6cc35816bdb06f8.ttf") format("truetype");
}

* {
  font-family: "Visby CF Bold";
  a {
    color: $text_color;
    &:hover {
      color: $text_color;
    }
  }
}
ul{
  list-style-type: none;
display: inline;
padding: 0;
}
hr{
  border-color: #00000005;
  height: 1px;
  margin: 0px 20px;
}
button{
  cursor: pointer;
  &:focus{
    outline: none;
  }
}
