.Teacher__GroupsWrapper__3ToYy {
  .ParticipationTable__ParticipationTable__NzBVH {
    table {
      tr {
        text-align: center;
        background-color: #e0e0e0;
        th {
          font-weight: 800;
          font-size: 20px;
        }
        td {
          font-size: 16px;
          font-weight: 600;
        }

        td,
        th {
          color: #505050;
          padding: 10px;
          border-left: 2px solid $bg_color;
          border-bottom: 2px solid $bg_color;
          width: 202px;
          &:first-child {
            width: 270px;
            background-color: #fff;
            text-align: left;
          }
          &.ParticipationTable__Current__1bTw4 {
            background-color: #fff;
          }
          .ParticipationOptions__reason-dropdown__1cjUh {
            width: 88px;
            border-radius: 5px;
            margin-left: auto;
            box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
            background-color: #fff;
            .ParticipationOptions__reasons__1sOF_ {
              .ParticipationOptions__reason__1PQFi {
               
                  cursor: pointer;
                
                &:first-child {
                  width: 70px;
                  margin: auto;
                  border-bottom: solid 2px $bg_color;
                  cursor: default;
                }
                font-size: 12px;
                font-weight: 800;

                .fa-tag{
                  margin-left: 6px !important;
                }
              }
            }
          }
        }
      }
    }
  }
}

.AttendenceCell[disabled].Present {
  background-color: #e0e0e0;
  color: #a0a0a0;
}

.Present {
  background-color: #fff;
  color: #00d743 !important;
  span {
    font-weight: 800;
  }
}
.Absent {
  background-color: #fff3f3 !important;
  color: #eb3f3f !important;
  span {
    font-weight: 800;
  }
}
