.sides {
  .groups {
    height: 100%;
    overflow-y: auto;
    position: relative;
    &::-webkit-scrollbar {
      width: 0 !important;
    }
    width: 430px;
    .btn-list {
      display: flex;
      .group-btn {
        width: 160px;
        height: 35px;
        border: none;
        border-bottom: 0.5px solid $bg_color;
        background-color: #fff;
        color: #b2b2b2;
        font-size: 12px;
        font-weight: 500;
      }
      .active {
        border-bottom: 2.5px solid $main_color;
        font-size: 12px;
        font-weight: 900;
        color: $text_color;
      }
    }
    .groups-list {
      min-height: 69%;
      display: none;  
      &.active-list {
        display: block;
      }
      .groups-item {
        margin-top: 20px;
        transition: all 0.1s;
        overflow: hidden;
        position: relative;
        margin-left: 20px;
        width: 280px;
        height: 90px;
        border-radius: 5px;
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.08);
        .group {
          border-bottom: 1px solid $bg_color;
          padding: 20px;
          display: flex;
          justify-content: space-between;
          h4 {
            font-weight: 900;
            color: $text_color;
          }
          .start-btn {
            font-weight: 600;
            width: 108px;
            height: 28px;
            font-size: 12px;
            color: #fff;
            background-color: $main_color;
            border: none;
            border-radius: 5px;
            display: flex;
            align-items: baseline;
            justify-content: space-evenly;
            i {
              font-size: 11px;
            }
            &:hover {
              background-color: $light_main;
            }
            &.open {
              border: 1px solid #eb3f3f;
              color: #eb3f3f;
              background: #fff;
              padding: 0 13px;
            }
          }
        }
        .group-info {
          display: none;
          color: $text_color;
          h5 {
            font-weight: 900;
          }
          .info-list {
            .info-item {
              padding: 10px 0 0 20px;
              width: 100%;
              p {
                width: 85px;
                line-height: 1.08;
                color: $span_color;
                font-weight: 500;
                line-height: 13px;
                font-size: 12px;
                padding: 5px 0 10px 0;
                span {
                  font-weight: 900;
                  line-height: 15px;
                }
              }
            }
          }
        }
        .info-btn {
          position: absolute;
          border: none;
          width: 280px;
          height: 19px;
          background-color: #fff;
          color: #cacaca;
          line-height: 19px;
          bottom: 0;
          left: 0;
        }
      }
    }
  }
  .attendance {
    width: 100%;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    position: sticky;
    bottom: 0;
    left:0;
    border-top: solid 1px $bg_color;
    font-weight: 500;
    background-color: #fff;
  }
}

#closed-groups-list .groups-item,
#closed-groups-list .info-btn {
  background-color: #f9f9f9;
}
