.header {
  display: flex;

  .head-left {
    .logo {
      padding: 19px 41px;
      .CA-Copy {
        width: 133.6px;
        height: 32.2px;
      }
    }
  }
  .head-right {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: auto;
    .search {
      padding: 0 3px;
      .magnify {
        width: 18px;
        height: 18px;
      }
    }
    .notification {
      padding: 0 27px;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: -8px;
        right: 0;
        width: 2px;
        height: 40px;
        background-color: #97979714;
      }
      .open-noti {
        &.active {
          &::after {
            content: "";
            position: absolute;
            top: -3px;
            right: 24px;
            background-color: $warning;
            width: 10px;
            height: 10px;
            border-radius: 100%;
            border: 2px solid #fff;
          }
        }
      }
      .bell-outline {
        width: 17px;
        height: 20px;
      }
    }
    .user-photo {
      position: relative;
      padding: 15px;
      margin: auto;
      .user-pp {
        width: 36px;
        height: 36px;
        border-radius: 100%;
        border: 2px solid #dde1e9;
      }
    }
  }
}
#noti {
  display: none;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  .noti-area {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 5;
  }
  .noti-box {
    width: 350px;
    border-radius: 5px;
    position: absolute;
    top: 70px;
    right: 118px;
    z-index: 10;
    background-color: #fff;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
    padding: 10px;
    height: 288px;
    overflow: hidden;
    &::-webkit-scrollbar {
      width: 0 !important;
    }

    .list {
      .list-item {
        &:last-child {
          border: none;
        }
        border-bottom: 2px solid $bg_color;
        width: 326px;
        font-size: 14px;
        padding: 0 5px;
        line-height: 43px;
        &.unread {
          font-weight: 900;
          position: relative;
          &::after {
            content: "";
            border-radius: 100%;
            width: 6px;
            height: 6px;
            background-color: $main_color;
            position: absolute;
            right: 17px;
            top: 17px;
          }
        }
        &.read {
          font-weight: 500;
        }
        p {
          width: 292px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          margin: 0;
        }
      }
    }
  }
  .noti-btn {
    width: 100%;
    font-size: 14px;
    font-weight: 900;
    color: #00a2ff;
    border: none;
    background-color: #fff;
    line-height: 43px;
    position: absolute;
    left: 0;
    bottom: 5px;
  }
}
#add-label,
#add-rol,
#fin-info,
#confirm,
#send-note,
#add-user {
  display: none;
  position: fixed;
  width: 100%;
  min-height: 100vh;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  .popup-area {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #00000031;
  }
  .popup {
    line-height: 1.5;
    .close {
      position: absolute;
      right: 35px;
      top: 16px;
      color: #f7f8fe;
      font-size: 17px;
      cursor: pointer;
    }
    position: absolute;
    width: 350px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
    z-index: 15;
    overflow: hidden;
    .popup-header {
      background-color: $main_color;
      line-height: 60px;
      font-size: 20px;
      padding-left: 20px;
      font-weight: bold;
      color: #ffffff;
    }
    .popup-body {
      .form-item {
        padding: 0 20px;
        label {
          line-height: 30px;
        }
        textarea {
          width: 310px;
          height: 50px;
          border-radius: 5px;
          border: solid 0.5px #979797;
        }
        input {
          margin-top: 10px;
          line-height: 30px;
          width: 310px;
          border-radius: 5px;
          border: solid 0.5px #979797;
        }
        .form-btn {
          margin: 20px 3px;
          &.remember {
            background-color: $main_color;
            border: 1px solid $main_color;
            color: #fff;
            border-radius: 5px;
            padding: 8px 14px 5px 13px;
          }
          &.cansel {
            border: 1px solid #a0a0a0;
            color: #a0a0a0;
            background-color: #fff;
            border-radius: 5px;
            padding: 8px 14px 5px 13px;
          }
        }
        .attachment {
          width: 20px;
          height: 11px;
          object-fit: contain;
        }
        &.attach {
          text-align: right;
        }
      }
      .add-input {
        cursor: pointer;
        text-align: right;
        opacity: 0.3;
        color: #505050;
        padding: 10px 10px 0 0;
        i {
          border: 2px solid #505050;
          border-radius: 100%;
          width: 14px;
          height: 14px;
          font-size: 8px;
          line-height: 14px;
          text-align: center;
        }
        span {
          font-size: 14px;
          font-weight: 600;
        }
      }
    }
  }
}
