#segmentations {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  .title {
    font-size: 26px;
    font-weight: 900;
    color: $login_color;
    margin-bottom: 64px;
  }
  .segments {
    flex-wrap: nowrap;
    .segment {
      padding-bottom: 30px;
      border-radius: 4px;
      box-shadow: $shadow;
      border: 2px solid #fff;
      margin: 15px;
      transition: all 0.3s;
      
      .icon {
        width: 48%;
        height: 90px;
        margin: 50px auto;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        img {
          width: 100%;
        }
        &.key {
          img {
            width: 80%;
          }
        }
      }
      .segment-title {
        font-size: 18px;
        font-weight: 800;
        transition: all 0.3s;
        color: $login_color;
      }
      &:hover {
        border: 2px solid $main_color;
        box-shadow: $main_shadow;
        .segment-title {
          color: $main_color;
        }
      }
    }
  }
}
