#segmentations {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  .title {
    font-size: 26px;
    font-weight: 900;
    color: $login_color;
    margin-bottom: 64px;
  }
  .segments {
    flex-wrap: nowrap;
    .segment {
      width: 200px;
      height: 230px;
      box-sizing: border-box;
      border-radius: 4px;
      box-shadow: $shadow;
      border: 2px solid #fff;
      margin: 15px;
      padding: 57px 0;
      transition: all 0.2s;
      
      .icon {
        .mdi{
          transition: all 0.3s;
          margin: auto;
          font-size: 60px;
        }
        &.teacher-icon .mdi{
color: #00a659;
        }
        &.student-icon .mdi{
color: #ffc906;
        }
        &.manager-icon .mdi{
color: #f0812b;
        }
        &.admin-icon .mdi{
color: #873996;
        }
      }
      .segment-title {
        font-size: 18px;
        font-weight: 800;
        transition: all 0.2s;
        margin-top: 35px;
        color: $login_color;
      }
    
        &:hover {
          margin-top: 8px;
         .icon .mdi{
            color: $main_color;
          }
        }
  }
}
}